# Globale Einstellungen
COMPOSE_PROJECT_NAME=passivestack
WATCHTOWER_ENABLED=true

# EarnApp
EARNAPP_UUID=

# Honeygain
HG_TOKEN=

# IPRoyal
IPR_EMAIL=
IPR_PASSWORD=
DEVICE_NAME=PassiveStackNode

# PacketStream
CID=

# Peer2Profit
P2P_EMAIL=

# TraffMonetizer
TM_TOKEN=

# Repocket
RP_EMAIL=
RP_API_KEY=

# EarnFM
EARNFM_TOKEN=

# BitPing
BITPING_EMAIL=
BITPING_PASSWORD=

# Mysterium
MYSTERIUM_ENABLED=true
